*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


body {
    background-color: darkcyan;
}

nav {
    background-color: orange;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em;
    font-family: "Arial", "Helvetica";
}

nav a {
    margin: .2em 1em 0px 1em;
    color: darkcyan
}

nav a:hover{
    color: white;
}

.wrapper {
    background-color: khaki;
}

h1, h2, h3 {
    color: red;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.img-freaks {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background-color: antiquewhite;
    justify-content: space-around;
}

/*.flex-item {
    background-color: hotpink;
    width: 30%;
    margin: 1em;
    height: auto;
    text-align: center;
} */

.section-img {
    margin: 0, auto;
    /*width: 99%;*/
    width: 150px;  /*specific instead of relative to image */
    flex: 2;
    height: 90%;
    padding: .5em;
    overflow: hidden;
}

main {
    flex: 2;
    margin: 2em;
}

aside {
    flex: 2; /* 2 to 2 relationship */
    margin: 2em;
}

footer {
    background-color: khaki;
    color: black;
    text-align: center;
}